<div class="board-header">
  <button class="btn btn-primary" (click)="openModal()">+ Create Task</button>
</div>

<div class="board-container" cdkDropListGroup>
  <div class="column">
    <h2 class="column-title">To Do</h2>
    <div
      id="todo-list"
      class="task-list"
      cdkDropList
      [cdkDropListData]="(toDoTasks$ | async) || []"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for (task of toDoTasks$ | async; track task.id) {
      <app-task-card
        [task]="task"
        cdkDrag
        (edit)="openModal(task)"
        (delete)="onDeleteTask(task.id)"
      ></app-task-card>
      }
    </div>
  </div>

  <div class="column">
    <h2 class="column-title">In Progress</h2>
    <div
      id="inprogress-list"
      class="task-list"
      cdkDropList
      [cdkDropListData]="(inProgresTasks$ | async) || []"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for(task of inProgresTasks$ | async; track task.id) {
      <app-task-card
        [task]="task"
        cdkDrag
        (edit)="openModal(task)"
        (delete)="onDeleteTask(task.id)"
      ></app-task-card>
      }
    </div>
  </div>

  <div class="column">
    <h2 class="column-title">Done</h2>
    <div
      id="done-list"
      class="task-list"
      cdkDropList
      [cdkDropListData]="(doneTasks$ | async) || []"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for(task of doneTasks$ | async; track task.id) {
      <app-task-card
        [task]="task"
        cdkDrag
        (edit)="openModal(task)"
        (delete)="onDeleteTask(task.id)"
      ></app-task-card>
      }
    </div>
  </div>
</div>

<app-add-edit-task *ngIf="isModalOpen" [task]="editingTask" (close)="closeModal()"></app-add-edit-task>
