.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0052cc;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

main {

}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: #c82333;
  }
}
